<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thank You</title>

 <!-- Bootstrap CSS -->
 <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css' rel='stylesheet'
 integrity='sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx' crossorigin='anonymous'>
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="{{ url_for('profile') }}">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">EEVEE Trading</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Thank You!</h1>
        
        You have sucessfully topped up {{top_up_amt}}
        <p class="lead">Your EeveePay wallet will be updated shortly</p>
      </div>

    <footer>
        <p class="text-muted mb-0 small">Copyright ©EEVEE Trading 2023</p>
    </footer>

    </div> <!-- /container -->

  </body>
  </html>